# ===========================
# Python Bytecode / Cache
# ===========================
__pycache__/
*.py[cod]
*$py.class

# ===========================
# Virtual Environment
# ===========================
venv/
env/
.env/
.venv/

# ===========================
# Django Stuff
# ===========================
db.sqlite3
*.sqlite3
media/
staticfiles/
tmp/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment / Secrets
# ===========================
*.env
.env.local
.env.prod
.env.dev

# ===========================
# VS Code / Editors
# ===========================
.vscode/
.idea/

# ===========================
# Mac / Windows System Files
# ===========================
.DS_Store
Thumbs.db

# ===========================
# PyCharm
# ===========================
*.iml
*.ipr
*.iws
